{% extends "layout.html" %}
{% block body %}
  <h2>Aggregated stats</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Latest</th>
        <th>Marks</th>
        <th>Missed</th>
        <th>Avg dts</th>
        <th>Min dts</th>
        <th>Max dts</th>
        <th>Stddev dts</th>
    </tr>

    {% for row in stats %}
    <tr>
        <td>{{ row.code }}</td>
        <td><a href="{{ url_for('show_origin', code=row.code) }}">{{ row.title }}</a></td>
        <td>{{ row.max_ts|uts_datetime }}</td>
        <td>{{ row.num_marks }}</td>
        <td>{{ ((row.max_ts - row.min_ts) / row.tick_size - row.num_marks)|round() }}</td>
        <td>{{ '%0.3f'|format(row.avg_dts) }} </td>
        <td>{{ '%0.3f'|format(row.min_dts) }} </td>
        <td>{{ '%0.3f'|format(row.max_dts) }} </td>
        <td>{{ '%0.3f'|format(row.std_dts) }} </td>
    </tr>
    {% endfor %}
    
</table>

<p>
    Uptime: {{ uptime }}
</p>
{% endblock %}